body { background-color: rgb(32, 205, 218);
}
header {
    padding:  0px;
}
#logo {margin-left:auto; 
    margin-right: auto;  
    border: 3px solid black;
width: 25%;}
.menu {
   position: relative;
   }
nav{ position:  absolute;
right: 0px; 
top: -35px;}
nav li {
    display: inline;
    margin: 0 0 0 15px; 

}
nav a { text-transform: uppercase;
text-decoration: none; }
.texto-principal { background-color: rgb(255, 20, 145, 0.233);}
h2 { text-align: center; 
    color: #440a2f; 
    border: 8px dashed black;
    padding: 5px;
     margin: 3px;
}

p {text-align: justify ; color:black}
.produtos {
    width: 940px;
margin:0px;
padding: 20px 0px;
 }
 .produtos li{
    display: inline-block;
    width: 30%;
 }
.foto { width: 300px; }
ul {display: inline-block;padding: 70px;}